.git
.github
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

airflow/logs/
airflow/logs/**
airflow/config/
airflow/plugins/__pycache__/

mlruns/
models/
data/raw/
data/processed/
data/external/
prometheus_data/
grafana_data/
postgres_data/