
APP_CONFIG_PATH=/app/config.yaml
API_PORT=8000
MODEL_SERVICE_PORT=8001
FRONTEND_PORT=8501
MLFLOW_PORT=5000
MLFLOW_SERVER_ALLOWED_HOSTS=mlflow,mlflow:5000,localhost,localhost:5000,127.0.0.1,127.0.0.1:5000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
LOKI_PORT=3100
PIPELINE_EXPORTER_PORT=8010
AIRFLOW_WEBSERVER_PORT=8080
POSTGRES_PORT=5432
MODEL_URI=models:/galaxy_morphology_classifier@champion
MODEL_SERVICE_URL=http://model-service:8001
MLFLOW_TRACKING_URI=http://mlflow:5000
PREDICTION_DB_PATH=/app/artifacts/predictions.db
MAX_UPLOAD_MB=10
SMTP_USERNAME=
SMTP_PASSWORD=
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
